<th:block>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta content="Adminor-Bootstrap HTML Admin Template" name="description">
        <meta content="Spruko Technologies Private Limited" name="author">
        <meta name="keywords"
              content="admin dashboard,admin dashboard template,admin panel template,admin template,bootstrap 4 dashboard,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap dashboard,bootstrap dashboard template,dashboard design template,dashboard html,dashboard template,html admin template,html dashboard template">
        <title>Game Store Simeonovsko</title>
        <link rel="icon" href="/images/custom-icon/game-logo.ico" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="/images/custom-icon/game-logo.ico"/>

        <link rel="stylesheet" href="/fonts/fonts/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

        <link href="/css/left-menu.css" rel="stylesheet"/>

        <link href="/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">

        <link href="/plugins/toggle-sidebar/sidemenu.css" rel="stylesheet"/>

        <link href="/plugins/select2/select2.min.css" rel="stylesheet">

        <link href="/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet"/>

        <link href="/css/icons.css" rel="stylesheet"/>

    </head>
</th:block>