<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="app-header header py-1 d-flex">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="header-brand" href="/">
                    <strong class="position-relative" style="color: white">Main Page</strong>
                </a>

                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>


                <div class="d-flex order-lg-2 ml-auto header-right-icons header-search-icon">

                    <div class="dropdown d-none d-md-flex">
                        <a class="nav-link icon full-screen-link nav-link-bg">
                            <i class="fa fa-expand" id="fullscreen-button"></i>
                        </a>
                    </div>

                        <div class="dropdown text-center selector">
                            <a href="#" class="nav-link leading-none" data-toggle="dropdown">
                                <span class="avatar avatar-sm brround cover-image"
                                      data-image-src="/images/profile/default.png"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                <div class="text-center">
                                    <a href="#" class="dropdown-item text-center font-weight-sembold user"
                                       data-toggle="dropdown" sec:authentication="name">Joyce Stewart</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                                <!-- th:href="@{/users/profile/(id = *{session.user.getId()})}" -->
                                <a class="dropdown-item" th:href="@{/users/profile/(name = *{#authentication.getName()})}">
                                    <i class="dropdown-icon mdi mdi-account-outline"></i> Profile
                                </a>
                                <a class="dropdown-item" href="/cart/view">
                                    <i class="dropdown-icon zmdi zmdi-shopping-cart"></i>
                                    Shopping Cart
                                </a>
                                <a class="dropdown-item" href="/logout">
                                    <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                </a>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</th:block>