<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <div class="dropdown user-pro-body">
                <div>
                    <img src="/images/profile/default.png" alt="user-img" class="avatar avatar-md brround">
                </div>
                <div class="user-info">
                    <div class="mb-2">
                        <a class="" data-toggle="" aria-haspopup="true" aria-expanded="false"> <span
                                class="font-weight-semibold text-white" sec:authentication='name'>Joyce Stewart</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="side-menu">
            <li class="active" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/sidebar/userlist" class="side-menu__item">
                    <i class="side-menu__icon fa fa-list"></i>
                    Users
                </a>
            </li>

            <li class="slide">
                <a href="/sidebar/events" class="side-menu__item">
                    <i class="side-menu__icon fa fa-table"></i>
                    Events
                </a>
            </li>

            <li class="slide">
                <a href="/sidebar/games" class="side-menu__item">
                    <i class="side-menu__icon fa fa-crosshairs"></i>
                    Games
                </a>
            </li>

            <li class="slide">
                <a href="/cart/view" class="side-menu__item">
                    <i class="side-menu__icon fa fa-shopping-cart"></i>
                    Shopping Cart
                </a>
            </li>

            <li class="active" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/sidebar/orders" class="side-menu__item">
                    <i class="side-menu__icon fa fa-database"></i>
                    Orders
                </a>
            </li>

            <li class="slide">
                <a href="/sidebar/about" class="side-menu__item">
                    <i class="side-menu__icon fa fa-exclamation-circle"></i>
                    About
                </a>
            </li>
        </ul>
    </aside>

</th:block>