.page-dis {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-dis:hover {
    color: #5f6268;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-dis:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-dis:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.fa-shopping-cart {
    color: white;
}

.custom-font {
    font-size: 30px;
}

.li-boxing {
    padding-bottom: 2px;
}