.bg-text-white{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.25); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 5px;
}

.bg-text-red{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.25); /* Black w/opacity/see-through */
    color: darkred;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 5px;
}