<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

	<!-- Meta data -->
	<th:block th:include="~{/fragments/head}"></th:block>

	<body class="app sidebar-mini">
		<div id="global-loader" ></div>
		<div class="page" >
			<div class="page-main">
				<th:block th:include="~{/fragments/nav}"></th:block>
				<!-- Sidebar menu-->
				<th:block th:include="~{/fragments/sidebar}"></th:block>

				<div class="app-content  my-3 my-md-5">
					<div class="side-app">
						<div class="page-header">
							<h4 class="page-title">Shop</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Cart</a></li>
								<li class="breadcrumb-item active" aria-current="page">My Cart</li>
							</ol>
						</div>

						<div class="row">
							<div class="col-lg-12 col-xl-6">
								<div class="card m-b-20">
									<div class="card-header ">
										<div class="card-title">Shopping Cart</div>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-bordered">
												<thead >
													<tr>
														<th>Game</th>
														<th>price</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="c : ${cartItems}">
														<td th:text="${c.getGames().getName()}">Digital Watch</td>
														<td th:text="|${c.getGames().getPrice()} lv.|"><span>$345.00</span></td>
														<td><a class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-original-title="Delete"
														th:href="@{/cart/remove/(id = ${c.getId()})}"><i class="fa fa-trash-o"></i></a></td>
													</tr>
												</tbody>
											</table>
										</div>
										<form class="text-left  product-cart m-t-20 mb-0">
											<div class="row">
												<div class="col-6"><input class="productcart form-control" type="text" placeholder="Coupon Code"></div>
												<div class="col-6"><a href="#" class="btn btn-primary btn-md">Apply</a></div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-xl-6">
								<div class="card ">
									<div class="card-header ">
										<div class="card-title">Order Summery</div>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-bordered mb-0">
												<tbody>
													<tr>
														<td>Cart Subtotal</td>
														<td th:text="|${totalPrice} lv.|" class="text-right">$792.00</td>
													</tr>
													<tr>
														<td><span>Totals</span></td>
														<td th:text="|${totalPrice} lv.|" class="text-right text-muted"><span>$792.00</span></td>
													</tr>
													<tr>
														<td><span>Order Total</span></td>
														<td><h2 class="price text-right mb-0" th:text="|${totalPrice} lv.|">$792.00</h2></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="text-center mt-3">
											<th:block th:if="${cartItems.size() == 0}">
												<div class="btn btn-primary btn-block btn-lg mt-2 m-b-20 text-gray">Proceed To Checkout</div>
											</th:block>

											<th:block th:unless="${cartItems.size() == 0}">
												<a class="btn btn-primary btn-block btn-lg mt-2 m-b-20 " href="/cart/checkout">Proceed To Checkout</a>
											</th:block>
											<a class="btn btn-secondary btn-block btn-lg mt-2" href="/sidebar/games">Continue Shopping</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--footer-->
			<th:block th:include="~{/fragments/footer}"></th:block>
			<!-- End Footer-->
		</div>

		<!-- Back to top -->
		<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

		<!-- Dashboard js-->
		<script src="/js/vendors/jquery-3.2.1.min.js"></script>
		<script src="/js/vendors/bootstrap.bundle.min.js"></script>
		<script src="/js/vendors/jquery.sparkline.min.js"></script>
		<script src="/js/vendors/selectize.min.js"></script>
		<script src="/js/vendors/jquery.tablesorter.min.js"></script>
		<script src="/js/vendors/circle-progress.min.js"></script>
		<script src="/plugins/rating/jquery.rating-stars.js"></script>

		<!-- Fullside-menu Js-->
		<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Custom Js-->
		<script src="/js/custom.js"></script>

	</body>
</html>