<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="/fragments/nav"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="/fragments/sidebar"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Shop</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Games in Cart</h3>
                            </div>
                            <div class="card-body p-4 bg-primary text-white">
                                <div class="row text-center" th:each="c : ${cartItems}">
                                    <div class="col-12">
                                        <span class="avatar brround avatar-xl"
                                              style="background-image: url(/images/custom-images/controller.png)"></span>
                                    </div>
                                    <div class="col-12">
                                        <h4 class="mb-1 mt-2 " th:text="|Game name: ${c.getGames().getName()}|"></h4>
                                        <p class="mb-0" th:text="|Game Price: ${c.getGames().getPrice()} lv.|"></p>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card-title" th:text="|Total Price: ${totalPrice} lv.|"></div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-header"><h2 class="card-title">Place order</h2></div>
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" th:action="@{/cart/checkout}" th:object="${orderAddBindingModel}" th:method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="name" class="form-label">Recipient name (mandatory)</label>
                                                                    <input th:field="*{name}" class="form-control" type="text" placeholder="fill recipient name" id="name">
                                                                    <th:block th:each="e : ${#fields.errors('name')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="description" class="form-label">Billing address (mandatory)</label>
                                                                    <textarea th:field="*{billingAddress}" class="form-control" type="text" placeholder="fill in billing address" id="description"></textarea>

                                                                    <th:block th:each="e : ${#fields.errors('billingAddress')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="platform" class="form-label">
                                                                        Phone number (mandatory, either +359 or 0)</label>
                                                                    <input th:field="*{phoneNumber}" class="form-control"
                                                                           type="text" id="platform"
                                                                           placeholder="phone number"
                                                                           name="platform">

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('phoneNumber')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}"
                                                                                   class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="requirements" class="form-label">
                                                                        Additional Information (not mandatory)</label>
                                                                    <textarea th:field="*{additionalInformation}" class="form-control"
                                                                              placeholder="additional information"
                                                                              type="text" id="requirements"
                                                                              name="requirements">
                                                                    </textarea>

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('additionalInformation')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="float-right mt-0 mb-0">
                                                    <a class="btn btn-secondary mr-3" type="submit" href="/sidebar/games">Cancel</a>
                                                    <button class="btn btn-primary text-white" type="submit">Place Order</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->

</div>



<!-- Back to top-->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>