<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">
        <th:block th:include="~{/fragments/nav}"></th:block>
        <!-- Sidebar menu-->
        <th:block th:include="~{/fragments/sidebar}"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Profile</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">My Profile</h3>
                            </div>
                            <div class="card-body p-4 bg-primary text-white">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <span class="avatar brround avatar-xl"
                                              style="background-image: url(/images/profile/default.png)"></span>
                                    </div>
                                    <div class="col-12">
                                        <h4 class="mb-1 mt-2 "
                                            th:text="|Current username: ${userInfo.getUsername()}|">Christopher</h4>
                                        <p class="mb-0" th:text="|Current role: ${userInfo.getRole().getName()}|">
                                            Adminor Administrator</p>
                                        <p class="mb-0" th:text="|Current email: ${userInfo.getEmail()}|">Adminor
                                            Administrator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:if="${hasErrors}" class="alert alert-icon alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-frown-o mr-2" aria-hidden="true"></i>Encountered error while editing, error in input or passwords don't match.</div>

                    <div class="col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-header"><h2 class="card-title">Edit profile</h2></div>
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto img-2">
                                                <img src="/images/profile/default.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-sm-0">
                                                <div>
                                                    <button class="btn btn-primary btn-block mt-5" type="button">
                                                        <i class="fa fa-fw fa-camera"></i>
                                                        <span>Change Photo</span>
                                                    </button>
                                                </div>
                                                <button class="btn btn-secondary btn-block mt-2" type="button">
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Remove Photo</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" th:object="${userEditProfileBindingModel}"
                                                  th:action="@{/users/edit-profile}" th:method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{username}" for="username"
                                                                           class="form-label">Username</label>
                                                                    <input class="form-control"
                                                                           type="text" name="username" id="username"
                                                                           placeholder="username example" th:value="${userInfo.getUsername()}">
                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('username')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{email}" for="email" class="form-label">Email</label>
                                                                    <input class="form-control"
                                                                           type="text" placeholder="user@example.com"
                                                                           id="email" name="email" th:value="${userInfo.getEmail()}">

                                                                    <th:block th:each="e : ${#fields.errors('email')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="mb-2"><h2 class="card-title">Change Password</h2>
                                                        </div>


                                                        <div class="text-center">
                                                            <th:block th:if="${notFound}">
                                                                <small class="text-danger col-12 text-center">Incorrect
                                                                    username or password</small>
                                                                <br/>
                                                            </th:block>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="newPassword" class="form-label">New
                                                                        Password</label>
                                                                    <input th:field="*{newPassword}"
                                                                           class="form-control" type="password"
                                                                           placeholder="••••••" id="newPassword">

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('newPassword')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="confirmPassword" class="form-label">Confirm
                                                                        <span class="d-none d-xl-inline">Password</span></label>
                                                                    <input th:field="*{confirmPassword}"
                                                                           class="form-control" type="password"
                                                                           placeholder="••••••" id="confirmPassword">
                                                                    <!--
                                                                    <th:block th:each="e : ${#fields.errors('confirmPassword')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="float-right mt-0 mb-0">
                                                    <a class="btn btn-secondary mr-3" type="submit" href="/">Cancel</a>
                                                    <button class="btn btn-primary text-white" type="submit">Update
                                                        Profile
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->
</div>

<!-- Back to top-->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>