<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="~{/fragments/head}"></th:block>


<body class="app sidebar-mini">
<div id="global-loader" ></div>
<div class="page" >
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="~{/fragments/nav}"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="~{/fragments/sidebar}"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Events</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Events-view</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <div class="card clearfix">
                            <div class="card-header">
                                <h2 class="card-title">Event info</h2>
                            </div>
                            <div class="card-body">
                                <div class="row profile-user-info">
                                    <div class="col-lg-12">
                                        <div class="table-responsive border ">
                                            <table class="table row table-borderless w-100 m-0 ">
                                                <tbody class="col-lg-6 p-0">
                                                <tr>
                                                    <td><strong>Event Name : </strong><span th:text="${eventInfo.getName()}"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Description : </strong> <span th:text="${eventInfo.getDescription()}"></span></td>
                                                </tr>
                                                </tbody>
                                                <tbody class="col-lg-6 p-0">
                                                <tr>
                                                    <td><strong>Start date : </strong> <span th:text="${eventInfo.getCreateDate()}"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>End date : </strong> <span th:text="${eventInfo.getEndedDate()}"></span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <<th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->
</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>