<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{/fragments/head}"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">
        <!--nav-->
        <th:block th:include="~{/fragments/nav}"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="~{/fragments/sidebar}"></th:block>

        <!-- index page content-->
        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Events</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Events home page</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="main-content-left main-content-left-calendar card card--calendar p-0 mg-b-20">
                            <div class="p-4 border-bottom">
                                <h2 class="main-content-title mg-b-15 tx-16">Event Calendar</h2>
                                <div>
                                <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-primary text-white mg-b-10 tx-10" href="/sidebar/events/add">Add Event</a>
                                <a class="btn btn-green text-white mg-b-30 tx-30" href="/sidebar/events/view">View Events</a>
                                </div>
                            </div>
                            <div class="p-4">
                                <label class="main-content-label tx-14 tx-bold mg-b-10">Event List:</label>
                                <nav class="nav main-nav-column main-nav-calendar-event" th:each="e : ${events}">
                                    <div class="col-auto" th:text="|${e.getName()} - ${e.getCreateDate()} - ${e.getEndedDate()}|">
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="main-content-body main-content-body-calendar card p-4">
                            <div class="main-calendar" id="calendar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->

</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript-->
<script src='/plugins/fullcalendar/moment.min.js'></script>
<script src='/js/vendors/jquery-3.2.1.min.js'></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>
<script src='/plugins/fullcalendar/fullcalendar.min.js'></script>

<!-- calendar Js-->
<script src="/js/app-calendar-events.js"></script>
<script src="/js/app.js"></script>
<script src="/js/app-calendar.js"></script>

<!-- app calendar js -->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom JS-->
<script src="/js/custom.js"></script>

</body>
</html>