<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="/fragments/nav"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="/fragments/sidebar"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Events</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Event</li>
                    </ol>
                </div>

                <div th:if="${hasErrors}" class="alert alert-icon alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-frown-o mr-2" aria-hidden="true"></i>Encountered error while creating, error in input or there is an Event with that name already or start date is after end date.</div>

                <div class="row">
                    <div class="col-lg-8 col-xl-12">
                        <div class="card">
                            <div class="card-header"><h2 class="card-title">Add Event</h2></div>
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" th:object="${eventAddBindingModel}"
                                                  th:action="@{/sidebar/events/add}" th:method="post" id="add-form">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="name" class="form-label">Event
                                                                        Name</label>
                                                                    <input th:field="*{name}" class="form-control"
                                                                           type="text" name="name" id="name"
                                                                           placeholder="event name">

                                                                    <th:block th:each="e : ${#fields.errors('name')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}"
                                                                                   class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="description" class="form-label">Description</label>
                                                                    <textarea th:field="*{description}"
                                                                              class="form-control" type="text"
                                                                              placeholder="event description"
                                                                              name="description" id="description">
                                                                    </textarea>

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('description')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}"
                                                                                   class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="startDate" class="form-label">Start
                                                                        Date</label>
                                                                    <input th:field="*{createDate}" class="form-control"
                                                                           type="datetime-local" id="startDate"
                                                                           name="startDate">

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('createDate')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}"
                                                                                   class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="endDate" class="form-label">End
                                                                        Date</label>
                                                                    <input th:field="*{endedDate}" class="form-control"
                                                                           type="datetime-local" id="endDate"
                                                                           name="endDate">

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('endedDate')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="float-right mt-0 mb-0">
                                                    <a class="btn btn-secondary mr-3" type="submit" href="/">Cancel</a>
                                                    <button class="btn btn-primary text-white" id="btn-search" type="submit">Add Event
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->
</div>
<!-- Back to top-->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>
<!-- Custom Js-->
<script src="/js/custom.js"></script>

</body>
</html>