<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="/fragments/nav"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="/fragments/sidebar"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Events</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Event</li>
                    </ol>
                </div>

                <div th:if="${hasErrors}" class="alert alert-icon alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-frown-o mr-2" aria-hidden="true"></i>Encountered error while editing, error in input or there is a different Event with that name already or start date is after end date.</div>

                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header"><h2 class="card-title">Change Event</h2></div>
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" th:action="@{/sidebar/events/change}" th:object="${eventChangeBindingModel}" th:method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{name}" for="name" class="form-label">Change name</label>
                                                                    <input class="form-control" type="text" name="name" id="name" placeholder="change event name" th:value="${event.getName()}">

                                                                    <th:block th:each="e : ${#fields.errors('name')}">
                                                                    <div class="mx-auto text-center">
                                                                        <small th:text="${e}" class="text-danger">Test</small>
                                                                    </div>
                                                                    </th:block>


                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{description}" for="description" class="form-label">Change description</label>
                                                                    <textarea class="form-control" type="text" placeholder="change event description" name="description" id="description">[[${event.getDescription()}]]</textarea>

                                                                    <th:block th:each="e : ${#fields.errors('description')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{createDate}" for="createDate" class="form-label">Change start date</label>
                                                                    <input class="form-control" type="datetime-local" id="createDate" name="createDate" th:value="${event.getCreateDate()}">

                                                                    <th:block th:each="e : ${#fields.errors('createDate')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{endedDate}" for="endedDate" class="form-label">Change end date</label>
                                                                    <input class="form-control" type="datetime-local" id="endedDate"  name="endedDate" th:value="${event.getEndedDate()}">

                                                                    <th:block th:each="e : ${#fields.errors('endedDate')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="float-right mt-0 mb-0">
                                                    <a class="btn btn-secondary mr-3" type="submit" href="/sidebar/events">Cancel</a>
                                                    <button class="btn btn-primary text-white" type="submit">Update Event</button>
                                                    <a class="btn btn-red text-white mr-3" type="submit" th:href="@{delete/(id = ${event.getId()})}">Remove Event</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->

</div>



<!-- Back to top-->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>