<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="/fragments/nav"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="/fragments/sidebar"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Games</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change/Remove Comment</li>
                    </ol>
                </div>

                <div th:if="${hasErrors}" class="alert alert-icon alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-frown-o mr-2" aria-hidden="true"></i>Encountered error while editing, error in input.</div>

                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header"><h2 class="card-title">Comment</h2></div>
                            <div class="card-body">
                                <h4 class="mb-1 mt-2 " th:text="|Game: ${game.getName()}|"></h4>
                                <div class="e-profile">
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" th:action="@{/games/comment/change}" th:object="${gameCommentChangeBindingModel}" th:method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{textContent}" for="textContent" class="form-label">Comment</label>
                                                                    <textarea class="form-control" type="text" name="textContent" id="textContent" placeholder="change comment content">[[${comment.getTextContent()}]]</textarea>
                                                                    <th:block th:each="e : ${#fields.errors('textContent')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}" class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label th:field="*{score}" for="price" class="form-label">
                                                                        Score (1-10, use whole numbers)</label>
                                                                    <input class="form-control"
                                                                           placeholder="0"
                                                                           type="number" id="price"
                                                                           name="price" min="0" max="10" step="1" oninput="validity.valid||(value='');" th:value="${comment.getScore()}">

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('score')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}"
                                                                                   class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="float-right mt-0 mb-0">
                                                    <a class="btn btn-secondary mr-3" type="submit" href="/sidebar/games">Cancel</a>
                                                    <button class="btn btn-primary text-white" type="submit">Change Comment</button>
                                                    <a class="btn btn-red text-white" th:href="@{/games/comment/change/delete/(id = ${comment.getId()})}">Delete Comment</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->

</div>



<!-- Back to top-->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>