<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<th:block th:include="~{/fragments/head}"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">
        <!--nav-->
        <th:block th:include="~{/fragments/nav}"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="~{/fragments/sidebar}"></th:block>

        <!-- index page content-->
        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Home</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Home Page</li>
                    </ol>
                </div>

                <div class="row ">
                    <div class="col-lg-12 col-xl-6 col-sm-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h5 class="card-title">Games</h5>
                            </div>
                            <div class="card-body">
                                <a href="/sidebar/games">
                                    <img src="/images/custom-images/games.png" alt="Ok">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-6 col-md-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h5 class="card-title">Events</h5>
                            </div>
                            <div class="card-body">
                                <a href="/sidebar/events">
                                    <img src="/images/custom-images/events-calendar.png" alt="Ok">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-4 col-md-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h5 class="card-title">Profile</h5>
                            </div>
                            <div class="card-body">
                                <a th:href="@{/users/profile/(name = *{#authentication.getName()})}">
                                    <img src="/images/custom-images/profile-image.png" alt="Ok">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-12 col-xl-4 col-md-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h5 class="card-title">Shopping cart</h5>
                            </div>
                            <div class="card-body">
                                <a href="/cart/view">
                                    <img src="/images/custom-images/shopping-cart-image.png" alt="Ok">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-12 col-xl-4 col-md-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h5 class="card-title">About Us</h5>
                            </div>
                            <div class="card-body">
                                <a href="/sidebar/about">
                                    <img src="/images/custom-images/about-icon.png"  alt="Ok">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--footer-->
<th:block th:include="~{/fragments/footer}"></th:block>
<!-- End Footer-->

</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard Core -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Dashboard Core -->
<script src="/js/index1.js"></script>

<!--Morris.js Charts Plugin -->
<script src="/plugins/morris/raphael-min.js"></script>
<script src="/plugins/morris/morris.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>

</body>
</html>