<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<!-- Meta data -->
<th:block th:include="~{/fragments/head}"></th:block>

<body>
<div  class="login-img">
    <div id="global-loader"></div>
    <div class="page h-100">
        <div class="page-single">
            <div class="container">
                <div class="row authentication">
                    <div class="col-lg-5 col-xl-4 col-md-6 d-block col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="/images/brand/logo.png" class="h-8" alt="">
                        </div>
                        <!-- th:action="@{/login}" th:object="${userLoginBindingModel}"-->
                        <form class="card" th:action="@{/login}" method="POST">
                            <div class="mx-auto text-center" style="color: red" th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div class="mx-auto text-center" style="color: limegreen" th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <div class="card-body p-6 ">
                                <div class="card-title text-center">Login to your Account</div>

                                <!--
                                <div class="text-center">
                                    <th:block th:if="${notFound}">
                                        <small class="text-danger col-12 text-center">Incorrect username or password</small>
                                        <br/>
                                    </th:block>
                                </div>
                                -->

                                <div class="input-icon form-group wrap-input">
											<span class="input-icon-addon search-icon">
												<i class="mdi mdi-account"></i>
											</span>
                                    <input type="text" class="form-control" placeholder="Username" name="username">
                                    <!--
                                    <th:block th:each="e : ${#fields.errors('username')}">
                                        <div class="mx-auto text-center">
                                            <small th:text="${e}" class="text-danger">Test</small>
                                        </div>
                                    </th:block>
                                    -->
                                </div>


                                <div class="input-icon form-group wrap-input">
											<span class="input-icon-addon search-icon">
												<i class="zmdi zmdi-lock"></i>
											</span>
                                    <input  type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password" name="password" autocomplete="on">
                                    <!--
                                    <th:block th:each="e : ${#fields.errors('username')}">
                                        <div class="mx-auto text-center">
                                            <small th:text="${e}" class="text-danger">Test</small>
                                        </div>
                                    </th:block>
                                    -->
                                    <label class="form-label">
                                        <a href="/users/forgot-password" class="float-right small">I forgot password</a>
                                    </label>
                                </div>

                                <div class="form-group mt-5">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="remember-me"/>
                                        <span class="custom-control-label">Remember me</span>
                                    </label>
                                </div>

                                <div class="form-footer">
                                    <button type="submit" value="submit" class="btn btn-primary btn-block">Sign in</button>
                                </div>

                                <div class="text-center text-muted mt-3">
                                    Don't have account yet? <a href="/users/register">Sign up</a>
                                </div>

                                <div class="flex-c-m text-center mt-5">
                                    <a href="#" class="login100-social-item bg1">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="#" class="login100-social-item bg2">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a href="#" class="login100-social-item bg3">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>
<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/sticky.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
<script src="/js/headerfix.js"></script>
</body>
</html>
