<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="/fragments/nav"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="/fragments/sidebar"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Games</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Game</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Selected Event</h3>
                            </div>
                            <div class="card-body p-4 bg-primary text-white">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <span class="avatar brround avatar-xl"
                                              style="background-image: url(/images/custom-images/controller.png)"></span>
                                    </div>
                                    <div class="col-12">
                                        <h4 class="mb-1 mt-2 " th:text="|Game name: ${game.getName()}|"></h4>
                                        <p class="mb-0" th:text="|Current price: ${game.getPrice()}|"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-header"><h2 class="card-title">Put Game on sale</h2></div>
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" th:action="@{/games/sale}" th:object="${gameSaleBindingModel}" th:method="post">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="price" class="form-label">
                                                                       Sale Price (when reverting, it will use the new price as it's base price)</label>
                                                                    <input th:field="*{salePrice}" class="form-control"
                                                                           placeholder="0"
                                                                           type="number" step="any" id="price"
                                                                           name="price" min="0">

                                                                    <th:block
                                                                            th:each="e : ${#fields.errors('salePrice')}">
                                                                        <div class="mx-auto text-center">
                                                                            <small th:text="${e}"
                                                                                   class="text-danger">Test</small>
                                                                        </div>
                                                                    </th:block>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="float-right mt-0 mb-0">
                                                    <a class="btn btn-secondary mr-3" type="submit" href="/sidebar/games">Cancel</a>
                                                    <button class="btn btn-primary text-white" type="submit">Put game on sale/Revert to old price</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->

</div>



<!-- Back to top-->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>