<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

<body class="app sidebar-mini">
<div id="global-loader" ></div>
<div class="page" >
    <div class="page-main">

        <!-- nav -->
        <th:block th:include="/fragments/nav"></th:block>

        <!-- Sidebar menu-->
        <th:block th:include="/fragments/sidebar"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h1 class="page-title">Games</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"></a>Orders</li>

                        <li class="breadcrumb-item active" aria-current="page">Orders List</li>
                    </ol>
                </div>

                <div class="row row-cards">
                    <div class="col-lg-12 col-xl-12">
                        <div class="input-group mb-5">
                            <input type="text" class="form-control br-tl-7 br-bl-7" placeholder="">
                            <div class="input-group-append ">
                                <button type="button" class="btn btn-primary br-tr-7 br-br-7">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">

                                <th:block th:unless="${listOrders.size() % 10 == 0}">
                                    <h2 class="card-title" th:text="|1 - ${listOrders.size()} of ${orders.size()} orders|">1 - 30 of 546 users</h2>
                                </th:block>
                                <th:block th:if="${listOrders.size() % 10 == 0}">
                                    <h2 class="card-title" th:text="|1 - 10 of ${orders.size()} orders|">1 - 30 of 546 users</h2>
                                </th:block>

                            </div>

                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <tbody>
                                    <tr>
                                        <th class="w-1"></th>
                                        <th><a th:href="@{'/sidebar/orders/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDirection}}">
                                            Order Id</a></th>
                                        <th><a th:href="@{'/sidebar/orders/page/' + ${currentPage} + '?sortField=createDateTime&sortDir=' + ${reverseSortDirection}}">
                                            Order Creation date</a></th>
                                    </tr>
                                    <tr th:each="a : ${listOrders}">
                                        <td><a th:href="@{/order/view/(id = *{a.getId()})}" class="avatar brround avatar-md d-block" style="background-image: url(/images/custom-icon/order-icon.png)"></a></td>
                                        <td th:text="${a.getId()}">Jane Pearson</td>
                                        <td th:text="${a.getCreateDateTime().toString().substring(0, 19)}">$1616.70</td>
                                        <td><a th:href="@{/order/view/(id = *{a.getId()})}" class="btn btn-green text-white mg-b-10 tx-10">View order</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div th:if="${totalPages > 1}" class="mb-5">
                            <div class="page-item page-item active">
											<span class="pagination float-left" th:each="i : ${#numbers.sequence(1, totalPages)}">
												<a class="page-link" th:if="${currentPage != i}" th:href="@{'/sidebar/orders/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">[[${i}]]</a>
												<span class="page-link text-dark" th:unless="${currentPage != i}">[[${i}]]</span>
											</span>
                            </div>
                            <ul class="pagination float-right">
                                <li class="page-item page-next">
                                    <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/sidebar/orders/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Previous</a>
                                    <span class="page-link text-dark" th:unless="${currentPage > 1}">Previous</span>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/sidebar/orders/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Next</a>
                                    <span class="page-link text-dark" th:unless="${currentPage < totalPages}">Next</span>
                                </li>
                                <li class="page-item page-prev">
                                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/games/view-list/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Last</a>
                                    <span class="page-link text-dark" th:unless="${currentPage < totalPages}">Last</span>
                                </li>
                            </ul>
                        </div>

                        <div th:if="${totalPages == 1}" class="mb-5">
                            <div class="page-item page-item active">
                                <span class="pagination float-left page-link text-dark">1</span>
                            </div>
                            <ul class="pagination float-right">
                                <li class="page-item page-prev">
                                    <span class="page-link text-dark">Previous</span>
                                </li>
                                <li class="page-item page-next">
                                    <span class="page-link text-dark">Next</span>
                                </li>
                                <li class="page-item page-next">
                                    <span class="page-link text-dark">Last</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- footer -->
    <th:block th:include="/fragments/footer"></th:block>
    <!-- footer end -->
</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>