<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

	<!-- Meta data -->
	<th:block th:include="~{/fragments/head}"></th:block>


	<body class="app sidebar-mini">
		<div id="global-loader" ></div>
		<div class="page" >
			<div class="page-main">

				<!-- nav -->
				<th:block th:include="~{/fragments/nav}"></th:block>

				<!-- Sidebar menu-->
				<th:block th:include="~{/fragments/sidebar}"></th:block>

				<div class="app-content  my-3 my-md-5">
					<div class="side-app">
						<div class="page-header">
							<h4 class="page-title">Profile</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">Profile</li>
							</ol>
						</div>
						<div class="row" id="user-profile">
						    <div class="col-lg-4 col-md-12 col-sm-12 col-xl-3">
								<div class="card clearfix">
									<div class="card-header">
										 <h2 class="card-title">Profile</h2>
									</div>
								    <div class="card-body p-0">
										<div class="card-body bg-primary text-white">
											<img src="/images/profile/default.png" alt="" class="profile-img img-responsive center-block">
											<th:block th:if="${userInfo.getId() == user.getId()}">
											<a th:href="@{/users/edit-profile}" class="profile-image">
												<span class="fa fa-pencil" aria-hidden="true"></span>
											</a>
											</th:block>

											<div class="profile-label mt-3">
												<span th:text="${userInfo.getUsername()}">Christopher</span>
												<br>
												<br>
												<span th:text="${userInfo.getRole().getName()}">Super User</span>
											</div>
											<br>
											<div class="profile-since" th:text="|Member since: ${userInfo.getCreateDateTime().toString().substring(0, 10)}|">
												Member since: Jan 2012
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-8 col-md-12 col-sm-12 col-xl-9">
							    <div class="card clearfix">
									<div class="card-header">
										<h2 class="card-title">User info</h2>
										<th:block th:if="${userInfo.getId() == user.getId()}">
										<a class="btn btn-primary text-white mg-b-10 tx-10 card-aside" th:href="@{/users/edit-profile}">Edit Profile</a>
										</th:block>
									</div>
									<div class="card-body">
										<div class="row profile-user-info">
											<div class="col-lg-12">
												<div class="table-responsive border ">
													<table class="table row table-borderless w-100 m-0 ">
														<tbody class="col-lg-6 p-0">
															<tr>
																<td><strong>Username : </strong><span th:text="${userInfo.getUsername()}"></span></td>
															</tr>
															<tr>
																<td><strong>Role : </strong> <span th:text="${userInfo.getRole().getName()}"></span></td>
															</tr>
														</tbody>
														<tbody class="col-lg-6 p-0">
															<tr>
																<td><strong>Email : </strong> <span th:text="${userInfo.getEmail()}"></span></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--footer-->
			<<th:block th:include="~{/fragments/footer}"></th:block>
			<!-- End Footer-->
		</div>

		<!-- Back to top -->
		<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

		<!-- Dashboard js -->
		<script src="/js/vendors/jquery-3.2.1.min.js"></script>
		<script src="/js/vendors/bootstrap.bundle.min.js"></script>
		<script src="/js/vendors/jquery.sparkline.min.js"></script>
		<script src="/js/vendors/selectize.min.js"></script>
		<script src="/js/vendors/jquery.tablesorter.min.js"></script>
		<script src="/js/vendors/circle-progress.min.js"></script>
		<script src="/plugins/rating/jquery.rating-stars.js"></script>

		<!-- Fullside-menu Js-->
		<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Custom Js-->
		<script src="/js/custom.js"></script>
	</body>
</html>