<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
  <!-- Meta data -->
	  <th:block th:include="~{/fragments/head}"></th:block>

</head>
	<body>
		<div  class="login-img">
			<div id="global-loader" ></div>
			<div class="page h-100">
				<div class="page-single">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 col-xl-4 col-md-6 d-block col-login mx-auto">
								<div class="text-center mb-6">
									<img src="/images/brand/logo.png" class="h-8" alt="">
								</div>
								<form class="card authentication" th:action="@{/users/register}" th:object="${userRegisterBindingModel}"  method="post">
									<div class="card-body sign-up-page p-7">
										<div class="card-title text-center">Create New Account</div>
										<div class="input-icon form-group">
											<span class="input-icon-addon search-icon">
												<i class="mdi mdi-account"></i>
											</span>
											<input th:field="*{username}" id="username" type="text" class="form-control" placeholder="Enter Username">
											<th:block th:each="e : ${#fields.errors('username')}">
												<div class="mx-auto text-center">
													<small th:text="${e}" class="text-danger">Test</small>
												</div>
											</th:block>
										</div>

										<div class="input-icon form-group">
											<span class="input-icon-addon search-icon">
												<i class="zmdi zmdi-email"></i>
											</span>
											<input th:field="*{email}" id="email" type="email" class="form-control" placeholder="Enter E-mail">
											<th:block th:each="e : ${#fields.errors('email')}">
												<div class="mx-auto text-center">
													<small th:text="${e}" class="text-danger">Test</small>
												</div>
											</th:block>
										</div>

										<div class="input-icon form-group">
											<span class="input-icon-addon search-icon">
												<i class="zmdi zmdi-lock"></i>
											</span>
											<input th:field="*{password}" type="password" class="form-control mb-0" id="password" placeholder="Enter Password">
											<th:block th:each="e : ${#fields.errors('password')}">
												<div class="mx-auto text-center">
													<small th:text="${e}" class="text-danger">Test</small>
												</div>
											</th:block>
										</div>

										<div class="input-icon form-group">
											<span class="input-icon-addon search-icon">
												<i class="zmdi zmdi-lock"></i>
											</span>
											<input th:field="*{confirmPassword}" type="password" class="form-control mb-0" id="confirmPassword" placeholder="ConfirmPassword">
											<th:block th:each="e : ${#fields.errors('confirmPassword')}">
												<div class="mx-auto text-center">
													<small th:text="${e}" class="text-danger">Test</small>
												</div>
											</th:block>
										</div>

										<div class="form-footer">
											<button type="submit" class="btn btn-primary btn-block">Create new account</button>
										</div>
										<div class="text-center text-muted mt-4">
										Already have account? <a href="/login">Sign in</a>
									</div>

									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Dashboard js -->
		<script src="/js/vendors/jquery-3.2.1.min.js"></script>
		<script src="/js/vendors/bootstrap.bundle.min.js"></script>
		<script src="/js/vendors/jquery.sparkline.min.js"></script>
		<script src="/js/vendors/selectize.min.js"></script>
		<script src="/js/vendors/jquery.tablesorter.min.js"></script>
		<script src="/js/vendors/circle-progress.min.js"></script>
		<script src="/plugins/rating/jquery.rating-stars.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="/js/sticky.js"></script>

		<!-- Custom Js-->
		<script src="/js/custom.js"></script>
		<script src="/js/headerfix.js"></script>
	</body>
</html>