<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:include="~{/fragments/head}"></th:block>


    <body class="app sidebar-mini">
    <div id="global-loader"></div>
    <div class="page">
        <div class="page-main">

            <th:block th:include="~{/fragments/nav}"></th:block>

            <th:block th:include="~{/fragments/sidebar}"></th:block>

            <!-- row -->
            <div class="app-content  my-3 my-md-5">
                <div class="side-app">
                    <div class="page-header">
                        <h1 class="page-title">Users</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"></a>Sidebar</li>
                            <li class="breadcrumb-item active" aria-current="page">Change Role</li>
                        </ol>
                    </div>
                    <div class="bg-white">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="tm-block-title text-center">Add new role to user</h2>
                            </div>
                        </div>
                        <div class="row mt-4 tm-edit-product-row">
                            <div class="col-xl-7 col-lg-7 col-md-12">
                                <form th:action="@{/roles/change}" method="POST"
                                      class="tm-edit-product-form">
                                    <!--
                                    <div class="input-group mb-3">
                                        <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5">User:</label>
                                        <a id="username" th:text="${user.getUsername()}" th:value="${user.getUsername()}"></a>
                                    </div>
                                    -->

                                    <label for="username"
                                           class="col-xl-4 col-lg-4 col-md-4 col-sm-5">User:</label>
                                    <select class="custom-select col-xl-4 col-lg-4 col-md-4 col-sm-4" id="username"
                                            name="username">
                                        <th:block>
                                            <option th:text="${user.getUsername()}" th:value="${user.getUsername()}">Input</option>
                                        </th:block>
                                    </select>
                                    <hr>
                                    <div class="input-group mb-3">
                                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5">Current role:</label>
                                    <span th:text="${user.getRole().getName()}"></span>
                                    </div>
                                    <hr>
                                    <div class="input-group mb-3">
                                        <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5">Roles:</label>
                                        <div>
                                            <input type="radio" id="user" name="role" value="user">
                                            <label for="user">User</label><br/>
                                            <input type="radio" id="admin" name="role" value="admin">
                                            <label for="admin">Admin</label><br/>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                            <button type="submit" class="btn btn-primary">Change
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <th:block th:include="~{/fragments/footer}"></th:block>

    </div>

    <!-- Back to top -->
    <a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

    <!-- Dashboard Core -->
    <script src="/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/jquery.sparkline.min.js"></script>
    <script src="/js/vendors/selectize.min.js"></script>
    <script src="/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="/js/vendors/circle-progress.min.js"></script>
    <script src="/plugins/rating/jquery.rating-stars.js"></script>

    <!-- Fullside-menu Js-->
    <script src="/plugins/toggle-sidebar/sidemenu.js"></script>

    <!-- Dashboard Core -->
    <script src="/js/index1.js"></script>

    <!--Morris.js Charts Plugin -->
    <script src="/plugins/morris/raphael-min.js"></script>
    <script src="/plugins/morris/morris.js"></script>

    <!-- Custom scroll bar Js-->
    <script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Custom Js-->
    <script src="/js/custom.js"></script>
    </body>

</html>