<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Meta data -->
<th:block th:include="~{/fragments/head}"></th:block>
<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">
        <th:block th:include="~{/fragments/nav}"></th:block>
        <!-- Sidebar menu-->
        <th:block th:include="~{/fragments/sidebar}"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Games</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/sidebar/games">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                    </ol>
                </div>
                <div class="row row-cards">
                    <div class="col-lg-12 col-md-12 ">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <form th:object="${game}" method="POST">
                                    <div class="bg-light-gray p-6 text-center">
                                        <img alt="Product" src="/images/custom-images/controller.png">
                                    </div>
                                    <div class="text-center mt-4">
                                        <a th:href="@{/cart/add/(id = ${game.getId()})}" class="btn btn-sm btn-success"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a sec:authorize="hasAuthority('ROLE_ADMIN')"
                                           th:href="@{/games/change/(id = ${game.getId()})}"
                                           class="btn btn-sm btn-yellow"><i class="fa fa-question"></i> Change game
                                            details</a>
                                        <a sec:authorize="hasAuthority('ROLE_ADMIN')"
                                           th:href="@{/games/sale/(id = ${game.getId()})}"
                                           class="btn btn-sm btn-cyan"><i class="fa fa-dollar"></i> Put game on sale</a>
                                    </div>
                                    <div class="border mt-4 mb-4">
                                        <h4 class="m-b-0 m-t-20">Description</h4>
                                        <p th:text="*{description}"></p>

                                    </div>
                                    <h4 class="mb-4">Specifications</h4>
                                    <div class="pro_detail border p-4">
                                        <h5 class="m-l-0 m-t-10">Platforms:</h5>
                                        <ul class="list-unstyled mb-0 border-bottom-0">
                                            <li class="row border-bottom-0">
                                                <div class="col-sm-3 text-muted mb-2" th:text="*{platform}">Brand</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pro_detail border p-4 border-top-0">
                                        <h5 class="m-l-0 m-t-0">Requirements:</h5>
                                        <ul class="list-unstyled mb-0 ">
                                            <li class="row border-bottom-0">
                                                <div class="col-sm-3 text-muted mb-2" th:text="*{requirements}">Width
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pro_detail border p-4">
                                        <h5 class="m-l-0 m-t-10">User Score:</h5>
                                        <ul class="list-unstyled mb-0 border-bottom-0">
                                            <li class="row border-bottom-0">
                                                <th:block th:if="*{comments.size() > 0}">
                                                    <div class="col-sm-3 text-muted mb-2"
                                                         th:text="|*{#numbers.formatDecimal(score / comments.size(), 1, 'DEFAULT', 1 , 'DEFAULT')} out of 10|">
                                                        Brand
                                                    </div>
                                                </th:block>
                                                <th:block th:unless="*{comments.size() > 0}">
                                                    <div class="col-sm-3 text-muted mb-2"
                                                         th:text="|*{#numbers.formatDecimal(score, 1, 'DEFAULT', 1 , 'DEFAULT')} out of 10|">
                                                        Brand
                                                    </div>
                                                </th:block>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>

                            <div>
                                <div class="text-center">
                                    <h2 class="font-weight-bold">Comments:</h2><br><br>
                                    <th:block th:unless="${hasAlreadyCommented}">
                                    <a class="btn btn-primary" th:href="@{/games/comment/(id = *{game.getId()})}">Add
                                        Comment</a>
                                    </th:block>
                                </div>

                            </div>

                            <div class="float-left mt-0 mb-0">
                                <div class="float-right mt-0 mb-0">Sorting:<br>
                                    <a class="btn btn-azure text-white mg-b-30 tx-30"
                                       th:href="@{'/games/view/page/' + ${currentPage} + '?sortField=score&sortDir=' + ${reverseSortDirection} + '&id=' + ${gameId}}">
                                        Score</a>
                                    <a class="btn btn-azure text-white mg-b-30 tx-30"
                                       th:href="@{'/games/view/page/' + ${currentPage} + '?sortField=createDateTime&sortDir=' + ${reverseSortDirection} + '&id=' + ${gameId}}">
                                        Comment Date</a>
                                </div>

                                <th:block th:unless="${listComments.size() % 10 == 0}">
                                    <h2 class="card-title"
                                        th:text="|1 - ${listComments.size()} of ${comments.size()} comments|">1 - 30 of 546
                                        users</h2>
                                </th:block>
                                <th:block th:if="${listComments.size() % 10 == 0}">
                                    <h2 class="card-title" th:text="|1 - 10 of ${comments.size()} comments|">1 - 30 of 546
                                        users</h2>
                                </th:block>
                                <div class="card-body" th:each="c : ${listComments}">
                                    <div class="bg-light-gray" th:inline="text">
                                        <img alt="Profile" src="/images/profile/default.png">
                                        Comments:
                                        &#10;&#13;
                                        [[${c.getTextContent()}]]
                                        <div th:text="|User: ${c.getAuthor().getUsername()}|"></div>
                                        <div th:text="|Score: ${c.getScore()} out of 10|"></div>
                                        <div th:text="|Comment Date: ${c.getCreateDateTime().toString().substring(0, 10)}|"></div>
                                        <th:block th:if="${c.getAuthor().getId().equals(userId)}">
                                            <a class="btn btn-primary text-yellow mg-b-10 tx-10" th:href="@{/games/comment/change/(id = *{c.getId()})}">Change Comment</a>
                                        </th:block>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${totalPages > 1}" class="mb-5">
                                <div class="page-item page-item active">
											<span class="pagination float-left"
                                                  th:each="i : ${#numbers.sequence(1, totalPages)}">
                                                <!--'/games/view/page/' + ${i} + '/' + (id = ${game.getId()}) + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} -->
												<a class="page-link" th:if="${currentPage != i}"
                                                   th:href="@{'/games/view/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&id=' + ${gameId}}">[[${i}]]</a>
												<span class="page-link text-dark" th:unless="${currentPage != i}">[[${i}]]</span>
											</span>
                                </div>
                                <ul class="pagination float-right">
                                    <li class="page-item page-next">
                                        <a class="page-link" th:if="${currentPage > 1}"
                                           th:href="@{'/games/view/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&id=' + ${gameId} }">Previous</a>
                                        <span class="page-link text-dark" th:unless="${currentPage > 1}">Previous</span>
                                    </li>
                                    <li class="page-item page-next">
                                        <a class="page-link" th:if="${currentPage < totalPages}"
                                           th:href="@{'/games/view/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&id=' + ${gameId} }">Next</a>
                                        <span class="page-link text-dark"
                                              th:unless="${currentPage < totalPages}">Next</span>
                                    </li>
                                    <li class="page-item page-prev">
                                        <a class="page-link" th:if="${currentPage < totalPages}"
                                           th:href="@{'/games/view/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&id=' + ${gameId} }">Last</a>
                                        <span class="page-link text-dark"
                                              th:unless="${currentPage < totalPages}">Last</span>
                                    </li>
                                </ul>
                            </div>

                            <div th:if="${totalPages == 1}" class="mb-5">
                                <div class="page-item page-item active">
                                    <span class="pagination float-left page-link text-dark">1</span>
                                </div>
                                <ul class="pagination float-right">
                                    <li class="page-item page-prev">
                                        <span class="page-link text-dark">Previous</span>
                                    </li>
                                    <li class="page-item page-next">
                                        <span class="page-link text-dark">Next</span>
                                    </li>
                                    <li class="page-item page-next">
                                        <span class="page-link text-dark">Last</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->
</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>
</body>
</html>