<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Meta data -->
<th:block th:include="~{/fragments/head}"></th:block>

<body class="app sidebar-mini">
<div id="global-loader"></div>
<div class="page">
    <div class="page-main">
        <th:block th:include="~{/fragments/nav}"></th:block>
        <!-- Sidebar menu-->
        <th:block th:include="~{/fragments/sidebar}"></th:block>

        <div class="app-content  my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Games</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Games</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>

                </div>
                <div class="row row-cards">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title"> Sorting
                                        <div>
                                            <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-primary text-white mg-b-30 tx-30" href="/games/add">Add
                                                Game</a>
                                            <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-green text-white mg-b-30 tx-30" href="/games/view-list">View
                                                Games</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label th:field="${category}" class="form-label mt-0" for="category">Category</label>
                                            <ul id="category"
                                                    class="list-group">
                                                <li style="padding-bottom: 5px"><a class="btn btn-blue text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDirection} + '&category=' + 'all'}">
                                                    All Categories</a></li>
                                                <li th:each="c : ${categories}" style="padding-bottom: 5px"><a class="btn btn-blue text-white mg-b-30 tx-30" th:text="${c.getName()}" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDirection} + '&category=' + ${c.getName()}}">
                                                    </a></li>

                                            </ul>
                                        </div>

                                        <div class="form-label mt-0">Sorting</div>
                                        <div class="form-group">
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDirection} + '&category=' + ${category}}">
                                                Name</a>
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDirection} + '&category=' + ${category}}">
                                                Price</a>
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=createDateTime&sortDir=' + ${reverseSortDirection} + '&category=' + ${category}}">
                                                Added on date</a>
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=category&sortDir=' + ${reverseSortDirection} + '&category=' + ${category}}">
                                                Category</a>
                                        </div>
                                        <div class="form-group">
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=score&sortDir=' + ${reverseSortDirection} + '&category=' + ${category}}">
                                                Score</a>
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games/page/' + ${currentPage} + '?sortField=onSale&sortDir=' + ${reverseSortDirection} + '&category=' + ${category}}">
                                                Games on sale</a>
                                            <a class="btn btn-azure text-white mg-b-30 tx-30" th:href="@{'/sidebar/games'}">
                                                Default Sorting</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group mb-5">
                            <input type="text" class="form-control br-tl-7 br-bl-7" placeholder="">
                            <div class="input-group-append ">
                                <button type="button" class="btn btn-primary br-tr-7 br-br-7">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <th:block th:unless="${listGames.size() % 10 == 0}">
                            <h2 class="card-title" th:text="|1 - ${listGames.size()} of ${games.size()} games|">1 - 30 of 546 users</h2>
                        </th:block>
                        <th:block th:if="${listGames.size() % 10 == 0}">
                            <h2 class="card-title" th:text="|1 - 10 of ${games.size()} games|">1 - 30 of 546 users</h2>
                        </th:block>

                        <div class="row">
                            <div th:each="g : ${listGames}" th:object="${g}" class="col-lg-6 col-xl-4 col-md-12">
                                <div class="card item-card">
                                    <div class="product-grid6  card-body">
                                        <div class="product-image6">
                                            <a th:href="@{/games/view/(id = *{id})}">
                                                <img class="img-fluid" src="/images/custom-images/controller.png">
                                            </a>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4 class="title"><a href="#" th:text="*{name}">Sports shoes</a></h4>
                                            <h4 class="title"><a th:text="|Category: *{category.getName()}|">Sports shoes</a></h4>
                                            <h4 class="title"><a th:text="|Date Added: *{createDateTime.toString().substring(0, 10)}|">Sports shoes</a></h4>
                                            <th:block th:if="*{comments.size() > 0}">
                                                <h4 class="title"><a th:text="|User Score: *{#numbers.formatDecimal(score / comments.size(), 1, 'DEFAULT', 1 , 'DEFAULT')} out of 10|">Sports shoes</a></h4>
                                            </th:block>
                                            <th:block th:unless="*{comments.size() > 0}">
                                                <h4 class="title"><a th:text="|User Score: *{#numbers.formatDecimal(score, 1, 'DEFAULT', 1 , 'DEFAULT')} out of 10|">Sports shoes</a></h4>
                                            </th:block>

                                            <th:block th:if="*{isOnSale()}">
                                                <!--th:text="|*{salePrice} lv.|"-->
                                                <div class="price" th:text="|*{price} lv.|"></div>
                                                <del class="col-md-4" th:text="|*{salePrice} lv.|"></del>
                                                <div class="price-detail-wrap" th:text="|*{#numbers.formatDecimal((salePrice.doubleValue() - price.doubleValue())/salePrice.doubleValue(), 0, 'DEFAULT', 2, 'DEFAULT').substring(1, 3)}% OFF|"></div>
                                                <!-- <div class="price-detail-wrap" th:text="|${1 - ((*{price.doubleValue() - salePrice.doubleValue()})/(*{price.doubleValue() + salePrice.doubleValue()}) / 2)} %|"></div> -->
                                            </th:block>

                                            <th:block th:unless="*{isOnSale()}">
                                                <div class="price" th:text="|*{price} lv.|"></div>
                                            </th:block>
                                        </div>
                                        <ul class="icons">
                                            <li><a th:href="@{/games/view/(id = *{id})}" data-tip="Quick View"><i
                                                    class="fa fa-search"></i></a></li>
                                            <li><a th:href="@{/cart/add/(id = *{id})}" data-tip="Add to Cart"><i
                                                    class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${totalPages > 1}" class="mb-5">
                            <div class="page-item page-item active">
											<span class="pagination float-left" th:each="i : ${#numbers.sequence(1, totalPages)}">
												<a class="page-link" th:if="${currentPage != i}" th:href="@{'/sidebar/games/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&category=' + ${category}}">[[${i}]]</a>
												<span class="page-link text-dark" th:unless="${currentPage != i}">[[${i}]]</span>
											</span>
                            </div>
                            <ul class="pagination float-right">
                                <li class="page-item page-next">
                                    <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/sidebar/games/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&category=' + ${category}}">Previous</a>
                                    <span class="page-link text-dark" th:unless="${currentPage > 1}">Previous</span>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/sidebar/games/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&category=' + ${category}}">Next</a>
                                    <span class="page-link text-dark" th:unless="${currentPage < totalPages}">Next</span>
                                </li>
                                <li class="page-item page-prev">
                                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/sidebar/games/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection} + '&category=' + ${category}}">Last</a>
                                    <span class="page-link text-dark" th:unless="${currentPage < totalPages}">Last</span>
                                </li>
                            </ul>
                        </div>

                        <div th:if="${totalPages == 1}" class="mb-5">
                            <div class="page-item page-item active">
                                <span class="pagination float-left page-link text-dark">1</span>
                            </div>
                            <ul class="pagination float-right">
                                <li class="page-item page-prev">
                                    <span class="page-link text-dark">Previous</span>
                                </li>
                                <li class="page-item page-next">
                                    <span class="page-link text-dark">Next</span>
                                </li>
                                <li class="page-item page-next">
                                    <span class="page-link text-dark">Last</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <th:block th:include="~{/fragments/footer}"></th:block>
    <!-- End Footer-->
</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard js-->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/jquery.sparkline.min.js"></script>
<script src="/js/vendors/selectize.min.js"></script>
<script src="/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/js/vendors/circle-progress.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="/plugins/toggle-sidebar/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Select2 js -->
<script src="/plugins/select2/select2.full.min.js"></script>
<!-- Inline js -->
<script src="/js/select2.js"></script>

<!-- Custom Js-->
<script src="/js/custom.js"></script>

</body>
</html>