<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Meta data -->
<th:block th:include="/fragments/head"></th:block>

	<body class="app sidebar-mini">
		<div id="global-loader" ></div>
		<div class="page" >
			<div class="page-main">

				<!-- nav -->
				<th:block th:include="/fragments/nav"></th:block>

				<!-- Sidebar menu-->
				<th:block th:include="/fragments/sidebar"></th:block>

				<div class="app-content  my-3 my-md-5">
					<div class="side-app">
						<div class="page-header">
							<h1 class="page-title">Users</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"></a>Sidebar</li>
								<li class="breadcrumb-item active" aria-current="page">Users List</li>
							</ol>
						</div>
						<div class="row row-cards">
							<div class="col-lg-12 col-xl-3">
								<div class="card bg-primary ">
								    <div class="panel-heading text-center">
										<h3 class=" text-primary mt-3 mb-2">Your Account</h3>
										<p class="text-dark">Admin status</p>
									</div>
									<div class="userlist">
										<div class="card-body text-center">
											<div class="userprofile ">
												<div class="userpic"> <img src="/images/profile/default.png" alt="" class="userpicimg"> </div>
												<h3 class="username" th:text="${userInfo.getUsername()}">test</h3>
											</div>
											  <br>
											  <br>
											  <br>
											<p class="mb-0"><span class="text-white">Email : </span>
												<a href="" th:text="${userInfo.getEmail()}" class="text-white-transparent">info@pearle.in</a></p>
										</div>
									</div>

									<div class="panel-footer br-br-7 br-bl-7">
										<div class="text-center ">
											<div class="flex-c-m ">
												<a href="#" class="login100-social-item bg1">
													<i class="fa fa-facebook"></i>
												</a>

												<a href="#" class="login100-social-item bg2">
													<i class="fa fa-twitter"></i>
												</a>

												<a href="#" class="login100-social-item bg3">
													<i class="fa fa-google"></i>
												</a>
										    </div>
									    </div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Admin team</h3>
									</div>

									<div th:each="a : ${admins}" class="card-body o-auto" style="height: 5rem">
										<ul class="list-unstyled list-separated">
											<li class="list-separated-item">
												<div class="row align-items-center">
													<div class="col-auto">
														<a th:href="@{/users/profile/(name = *{a.getUsername()})}" class="avatar brround avatar-md d-block" style="background-image: url(/images/profile/default.png)"></a>
													</div>
													<div class="col">
														<div>
															<a th:href="@{/users/profile/(name = *{a.getUsername()})}" class="text-inherit" th:text="${a.getUsername()}">Anna White</a>
														</div>
														<small class="d-block item-except text-sm text-muted h-1x" th:text="${a.getEmail()}">annawhite@info.com</small>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>

							<div class="col-lg-12 col-xl-9">
								<form href="/sidebar/userlist/search">
								<div class="input-group mb-5">
									<input type="text" class="form-control br-tl-7 br-bl-7" placeholder="">
									<div class="input-group-append ">
										<button type="button" class="btn btn-primary br-tr-7 br-br-7">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</div>
								</div>
								</form>
								<div class="card">
								    <div class="card-header">


										<th:block th:unless="${listUsers.size() % 10 == 0}">
											<h2 class="card-title" th:text="|1 - ${listUsers.size()} of ${users.size()} users|">1 - 30 of 546 users</h2>
										</th:block>
										<th:block th:if="${listUsers.size() % 10 == 0}">
											<h2 class="card-title" th:text="|1 - 10 of ${users.size()} users|">1 - 30 of 546 users</h2>
										</th:block>

										<!--
										<th:block th:unless="${users.size() % 30 == 0}">
											<h2 class="card-title" th:text="|1 - ${users.size()} of ${users.size()} users|">1 - 30 of 546 users</h2>
										</th:block>
										<th:block th:if="${users.size() % 30 == 0}">
									    <h2 class="card-title" th:text="|1 - 30 of ${users.size()} users|">1 - 30 of 546 users</h2>
										</th:block>
										-->

									</div>

									<div class="table-responsive">
										<table class="table card-table table-vcenter text-nowrap">
											<tbody>
											<tr>
												<th class="w-1"></th>
												<th><a th:href="@{'/sidebar/userlist/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDirection}}">
													Name</a></th>
												<th><a th:href="@{'/sidebar/userlist/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDirection}}">
													Email</a></th>
												<th><a th:href="@{'/sidebar/userlist/page/' + ${currentPage} + '?sortField=role&sortDir=' + ${reverseSortDirection}}">
													Role</a></th>
											</tr>
											<tr th:each="u : ${listUsers}">
												<td><a th:href="@{/users/profile/(name = *{u.getUsername()})}" class="avatar brround avatar-md d-block" style="background-image: url(/images/profile/default.png)"></a></td>
												<td th:text="${u.getUsername()}">Jane Pearson</td>
												<td th:text="${u.getEmail()}">February 10, 2018</td>
												<td th:text="${u.getRole().getName()}">$1616.70</td>
												<td><a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/roles/change/(id = *{u.getId()})}" class="btn btn-orange text-white mg-b-10 tx-10">Change role</a></td>

											</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div th:if="${totalPages > 1}" class="mb-5">
									<div class="page-item page-item active">
											<span class="pagination float-left" th:each="i : ${#numbers.sequence(1, totalPages)}">
												<a class="page-link" th:if="${currentPage != i}" th:href="@{'/sidebar/userlist/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">[[${i}]]</a>
												<span class="page-link text-dark" th:unless="${currentPage != i}">[[${i}]]</span>
											</span>
									</div>
									<ul class="pagination float-right">
										<li class="page-item page-next">
											<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/sidebar/userlist/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Previous</a>
											<span class="page-link text-dark" th:unless="${currentPage > 1}">Previous</span>
										</li>
										<li class="page-item page-next">
											<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/sidebar/userlist/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Next</a>
											<span class="page-link text-dark" th:unless="${currentPage < totalPages}">Next</span>
										</li>
										<li class="page-item page-prev">
											<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/sidebar/userlist/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Last</a>
											<span class="page-link text-dark" th:unless="${currentPage < totalPages}">Last</span>
										</li>
									</ul>
								</div>

								<div th:if="${totalPages == 1}" class="mb-5">
									<div class="page-item page-item active">
												<span class="pagination float-left page-link text-dark">1</span>
									</div>
									<ul class="pagination float-right">
										<li class="page-item page-prev">
											<span class="page-link text-dark">Previous</span>
										</li>
										<li class="page-item page-next">
											<span class="page-link text-dark">Next</span>
										</li>
										<li class="page-item page-next">
											<span class="page-link text-dark">Last</span>
										</li>
									</ul>
								</div>

								<!--
								<div class="mb-5">
									<ul class="pagination float-right">
										<li class="page-item page-prev disabled">
											<a class="page-link" href="#" tabindex="-1">Prev</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item page-next">
											<a class="page-link" href="#">Next</a>
										</li>
									</ul>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- footer -->
			<th:block th:include="/fragments/footer"></th:block>
			<!-- footer end -->

		</div>

		<!-- Back to top -->
		<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

		<!-- Dashboard js -->
		<script src="/js/vendors/jquery-3.2.1.min.js"></script>
		<script src="/js/vendors/bootstrap.bundle.min.js"></script>
		<script src="/js/vendors/jquery.sparkline.min.js"></script>
		<script src="/js/vendors/selectize.min.js"></script>
		<script src="/js/vendors/jquery.tablesorter.min.js"></script>
		<script src="/js/vendors/circle-progress.min.js"></script>
		<script src="/plugins/rating/jquery.rating-stars.js"></script>

		<!-- Fullside-menu Js-->
		<script src="/plugins/toggle-sidebar/sidemenu.js"></script>
		
		<!--Select2 js -->
		<script src="/plugins/select2/select2.full.min.js"></script>
		<!-- Inline js -->
		<script src="/js/select2.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Custom Js-->
		<script src="/js/custom.js"></script>

	</body>
</html>